#login-div {
    display: flex;
}

#login-form {
    background: none !important;
    text-align: center;
    position: relative;
    opacity: 0.9;
    z-index: 1;
}

#login-form input {
    background: none;
    background-color: #f8f6f6;
    margin-bottom: 2px;
    font-size: 16px;
}

#login-title {
    position:fixed;
    color: #950740;
    z-index: 0;
    font-size: 250px;
}

#login-button {
    opacity: 1;
    background-color: #1f1c1d;
    color: #f8f6f6;
}

#login-button:hover {
    opacity: 0.7;
    background-color: #464142;
}
